@{
    ViewData["Title"] = "CV";
}
<header>
    <h1>Denis Dovgodko</h1>
    <strong>Networking student</strong>
</header>
<section>
    <h2>Education</h2>
    <form action="./main.js" method="post" target="_blank">
        <input type="submit" name="In progress" value="In progress"><br>
        <button type="submit">And now too</button>
    </form>
    <hr>
</section>
<article class="education">
    <h3>Main</h3>
    <pre>Taras Shevchenko national university of Kyiv
    2022 - present</pre>
    <hr>
</article>
<aside>
    <img src="~/images/MIT-logo.png" alt="MIT-logo" class="logo">
    <hr>
</aside>
<article class="education">
    <h4>Additionally</h4>
    <pre>SEDICOMM university</pre>
    2022 - present
    <hr>
</article>
<aside>
    <img src="https://www.sedicomm.com/wp-content/uploads/2018/01/SEDICOMM-Univarsity-logo-header.png" class="logo" alt="sedicomm-logo" style="max-width: 100%;">
    <hr>
</aside>
<details class="details">
    <summary>
        GitHub Repository
    </summary>
    <a href="https://github.com/denis-dovgodko/mit-21-web-design">denis-dovgodko's-mit-21-web-design</a>
</details>
<footer>
    <address class="footer">denis.dovgodko@knu.ua</address>
</footer>
<pre class="footer">©2023, Kyiv</pre>
<br>
<picture>
    <source srcset="~/images/github.jpg" media="(min-width: 820px)">
    <img src="~/images/github_vector_image.svg" alt="github+logo">
</picture>