@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-centre">
    <a asp-action="Ticket">Згенерувати квитки на сеанс</a> <br />
    <a asp-action="Session">Створити новий сеанс фільму</a> <br />
    <a asp-action="Film">Додати фільм</a> <br />
    <a asp-action="Hall">Створити новий зал</a>
</div>